body {
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    color: white;
}
input, select {
    background-color: #000055;
    font-family: 'Orbitron', sans-serif;
    color: white;
}
input[type=number] {
    width: 69px;
}
button {
    background-color: #000055;
    font-family: 'Orbitron', sans-serif;
    color: white;
    cursor: pointer;
}
canvas {
    height: 40vh;
    width: auto;
}
#flarepreview {
    height: 40vh;
    width: auto;
}
#banner {
    width: 75vh;
    height: 15vh;
    object-fit: cover;
}
th {
    text-align: center;
    font-size: x-small;
}