body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #AAAAAA;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
input, select {
    background-color: #000055;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #AAAAAA;
}
button {
    background-color: #000055;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #AAAAAA;
    cursor: pointer;
}
canvas {
    max-width: 90%;
    max-height: 90%;
}
#banner {
    width: 75vh;
    height: 15vh;
    object-fit: cover;
}
#Hotspot, #Streak, #Iris, #Halo {
    display: none;
    margin-left: 20px;
}
#Hotspot_handle, #Streak_handle, #Iris_handle, #Halo_handle {
    margin-left: 5px;
    cursor: pointer;
}
table {
    width: 100vw;
    height: 100vh;
    margin: auto;
}
select, input[type=number], input[type=text] {
    width: 50px;
}
#optionspannel {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: 250px;
}