body {
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    color: white;
}
input {
    background-color: #000055;
    font-family: 'Orbitron', sans-serif;
    color: white;
}
button {
    background-color: #000055;
    font-family: 'Orbitron', sans-serif;
    color: white;
    cursor: pointer;
}
#flarepreview {
    height: 40vh;
    width: auto;
}